//
   Created by cosmozhang on 20/10/2016.

.rank-item
    .rank-number 1
    .rank-avatar
.rank-item
    .rank-number 2
    .rank-avatar
.rank-item
    .rank-number 3
    .rank-avatar
.rank-item
    .rank-number 4
    .rank-avatar
.rank-item
    .rank-number 5
    .rank-avatar
.rank-item
    .rank-number 6
    .rank-avatar
.rank-item
    .rank-number 7
    .rank-avatar
.rank-item
    .rank-number 8
    .rank-avatar
.rank-item
    .rank-number 9
    .rank-avatar
.rank-item
    .rank-number 10
    .rank-avatar

.crown-first
.crown-second
.crown-third
