
.menu-item(ng-class="section=='hall'    ? 'active' : ''") 游戏大厅
.menu-item(ng-class="section=='profile' ? 'active' : ''") 个人信息
.menu-item(ng-class="section=='dj-mall' ? 'active' : ''") 道具商城
.menu-item(ng-class="section=='xl-mall' ? 'active' : ''") 迅龙商城
.menu-item(ng-class="section=='chat'    ? 'active' : ''") 公共聊天
.menu-item(ng-class="section=='video'   ? 'active' : ''") 录 像
.menu-item(ng-class="section=='charge'  ? 'active' : ''") 快速充值