
a.menu-item(href="#/hall"               ng-class="section=='hall'    ? 'active' : ''") 游戏大厅
a.menu-item(href="#/profile/statistics" ng-class="section=='profile' ? 'active' : ''") 个人信息
a.menu-item(href="#" ng-class="section=='dj-mall' ? 'active' : ''") 道具商城
a.menu-item(href="#" ng-class="section=='xl-mall' ? 'active' : ''") 迅龙商城
a.menu-item(href="#" ng-class="section=='chat'    ? 'active' : ''") 公共聊天
a.menu-item(href="#" ng-class="section=='video'   ? 'active' : ''") 录 像
a.menu-item(href="#" ng-class="section=='charge'  ? 'active' : ''") 快速充值