
@import "../common/mixin";

.pg.pg-main {

  & {
    background-image: url( ../images/main/main-bg.png );
  }

  .top-title {
    position: absolute;
    left: 280px;
    top: 30px;
    width: 266px;
    height: 98px;
    background-size: 100% 100%;
  }

  .center-box {
    position: absolute;
    width: 1440px;
    height: 735px;
    top: 140px;
    left: 250px;
  }

  .bottom-panel {
    position: absolute;
    top: 890px;
    left: 0;
    width: 1920px;
    height: 185px;
  }

  .circle-list1 {
    width: 110px;
  }
  .circle-item1 {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    background-image: url(../images/main/button-circle1.png);
    background-size: 100% 100%;
    &:hover,
    &.active {
      background-image: url(../images/main/button-circle1-active.png);
    }
  }
  .circle-list2 {
    width: 130px;
  }
  .circle-item2 {
    width: 130px;
    height: 130px;
    line-height: 130px;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    background-image: url(../images/main/button-circle2.png);
    background-size: 100% 100%;
    &:hover,
    &.active {
      background-image: url(../images/main/button-circle2-active.png);
    }
  }

  .center-panel {
    background-color: rgba(20, 22, 56, 0.7);
    border-radius: 12px;
    border: 1px rgb(6, 62, 88) solid;
  }
}