//
   Created by cosmozhang on 10/14/16.

.pg.pg-main.pg-hall
    .top-title
    .left-menu(section="hall")
    .center-box
        .center-panel
            .room-list
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
                .room-item
                    .room-name 普通房
                    .room-status 空房间
                    .room-member-count 1/20
        .circle-list2
            .circle-item2.active 普通房
            .circle-item2 精英房
            .circle-item2 家族房
            .circle-item2 大师房
    .right-panel-wrapper
    .bottom-panel
        .paginator
            .nav-prev
            .nav-next
            .center-sphere
        .button-group
            a.button-item(href="javascript:;") 家族
            a.button-item(href="javascript:;") 论坛
            a.button-item(href="javascript:;") 打包
            a.button-item(href="javascript:;") 聊天
            a.button-item.no-bg
            a.button-item.no-bg
            a.button-item.no-bg
            a.button-item(href="javascript:;") 排行


