//
   Created by cosmozhang on 10/14/16.

.pg.pg-main.pg-hall(ng-controller="hallCtl")
    .top-title 杀人游戏
    .left-menu(section="hall")
    .center-box
        .center-panel
            .room-list
                a.room-item(href="javascript:;", ng-repeat="room in content.currentRoomList", ng-click="enterRoom(room)")
                    .room-name {{ room.name }} \#{{ room.id }}
                    .room-status 空房间
                    .room-member-count {{ room.playerCount }}/{{ room.maxPlayerCount }}
        .paginator
            a.page-prev(href="javascript:;", ng-click="prevPage()")
            a.page-next(href="javascript:;", ng-click="nextPage()")
        a.circle-item2.button-quick-join(href="javascript:;", ng-click="quickJoin()")
            | 快速
            br
            | 加入
        .circle-list2
            .circle-item2(ng-click="changeRoomFilter(ROOM_PUTONG)", ng-class="content.currentRoomFilter == ROOM_PUTONG ? 'active' : ''") 普通房
            .circle-item2 精英房
            .circle-item2(ng-click="changeRoomFilter(ROOM_JIAZU)",  ng-class="content.currentRoomFilter == ROOM_JIAZU ? 'active' : ''")  家族房
            .circle-item2 大师房
    .right-panel-wrapper
    .bottom-panel
        .bottom-rank-selector
            a.button-select(href="javascript:;") 等级
            a.button-select(href="javascript:;") 名气
            a.button-select(href="javascript:;") 魅力
        .bottom-rank-wrapper
        //.paginator
        //    .nav-prev(ng-click="prevPage()")
        //    .nav-next(ng-click="nextPage()")
        //    .center-sphere
        .button-group
            a.button-item(href="javascript:;") 论坛
            a.button-item(href="javascript:;") 打包
            a.button-item(href="javascript:;") 活动
            a.button-item(href="javascript:;") 家族
            // a.button-item.no-bg


