//
   Created by cosmozhang on 10/14/16.

.pg.pg-main.pg-hall
    .top-title 杀人游戏
    .left-menu(section="hall")
    .center-box
        .center-panel
            .room-list
                a.room-item(href="#/room", ng-repeat="room in content.currentRoomList")
                    .room-name {{ room.name }} \#{{ room.id }}
                    .room-status 空房间
                    .room-member-count {{ room.playerCount }}/{{ room.maxPlayerCount }}
        .circle-list2
            .circle-item2(ng-click="changeRoomFilter(ROOM_PUTONG)", ng-class="content.currentRoomFilter == ROOM_PUTONG ? 'active' : ''") 普通房
            .circle-item2 精英房
            .circle-item2(ng-click="changeRoomFilter(ROOM_JIAZU)",  ng-class="content.currentRoomFilter == ROOM_JIAZU ? 'active' : ''")  家族房
            .circle-item2 大师房
    .right-panel-wrapper
    .bottom-panel
        .paginator
            .nav-prev
            .nav-next
            .center-sphere
        .button-group
            a.button-item(href="javascript:;") 家族
            a.button-item(href="javascript:;") 论坛
            a.button-item(href="javascript:;") 打包
            a.button-item(href="javascript:;") 聊天
            a.button-item.no-bg
            a.button-item.no-bg
            a.button-item.no-bg
            a.button-item(href="javascript:;") 排行


