//
   Created by cosmozhang on 20/10/2016.

.pg.pg-main.pg-profile
    .top-title 杀人游戏
    .left-menu(section="profile")
    .center-box
        .person-view-wrapper
        .circle-list1
            a.circle-item1.active(href="javascript:;") 统计信息
            a.circle-item1(href="javascript:;") 我的物品
            a.circle-item1(href="javascript:;") 视频照片
            a.circle-item1(href="javascript:;") 历史记录
        ui-view
    .right-panel-wrapper
    .bottom-panel
        .bottom-rank-wrapper

