//
   Created by Cosmo on 2016/11/7.

.pg.pg-main.pg-room(ng-controller="roomCtl")
    .players-frame
        .players-list
            .player-item(ng-repeat="player in content.players")
                img(ng-src="{{player.imageUrl}}", ng-if="!player.invalid")
                .hint-mask(ng-if="player.showHint")
                    .hint-content
                        .hint-number {{ player.number }}
                        .hint-operation(ng-if="player.canVote") 投票
                        .hint-operation(ng-if="player.canKill") 杀
                        .hint-operation(ng-if="player.canCheck") 验
                        .hint-information(ng-if="player.isDead") 玩家已死亡
        .player-view
    .right-top-button-group
        a.button-chair-up(href="javascript:;", ng-click="doShangzuo()")
        a.button-chair-down(href="javascript:;", ng-click="doXiazuo()")
        a.button-mic-up(href="javascript:;", ng-click="doShangmai()")
        a.button-mic-down(href="javascript:;", ng-click="doXiamai()")
        a.button-charge(href="javascript:;")
        a.button-return-hall(href="javascript:;", ng-click="exitRoom()")
    .left-message-area
        .left-message-box
            .title-box 公共频道
            .content-box.room-content-box(massages="content.messageList.chatting")
        input.left-message-input(type="text")
        a.left-message-send-button(href="javascript:;") 发送
        .left-message-side-box
            .content-box
        a.left-message-up-button(href="javascript:;")
        a.left-message-down-button(href="javascript:;")
    .video-area
        .mirror
            .mirror-content
                img(ng-src="{{content.currentSpeaker.imageUrl}}", ng-if="content.currentSpeaker")
            .mirror-frame
        a.button-close-video(href="javascript:;")
        .adjust-box
            .adjust-item
                .adjust-prompt 音量
                .adjust-bar
                    a.adjust-button(href="javascript:;")
            .adjust-item
                .adjust-prompt 耳机
                .adjust-bar
                    a.adjust-button(href="javascript:;")
            .adjust-item
                .adjust-prompt 话筒
                .adjust-bar
                    a.adjust-button(href="javascript:;")
        .time-bar
            span 发言时间
            br
            br
            span 秒
            .time-number {{ content.leftSpeakTimeString }}
    a.button-player-tools(href="javascript:;")
    .judge-area
        .right-message-box
            .title-box 游戏进程
            .content-box.room-content-box(massages="content.messageList.progress")
        input.right-message-input(type="text")
        a.right-message-send-button(href="javascript:;") 发送
        a.right-message-channel-button(href="javascript:;") 裁判频道