//
   Created by Cosmo on 2016/11/7.

.pg.pg-main.pg-room(ng-controller="roomCtl")
    .players-frame
        .players-list
            .player-item(ng-repeat="player in players")
        .player-view
    .right-top-button-group
        a.button-chair-up(href="javascript:;")
        a.button-chair-down(href="javascript:;")
        a.button-mic-up(href="javascript:;")
        a.button-mic-down(href="javascript:;")
        a.button-charge(href="javascript:;")
        a.button-return-hall(ui-sref="hall")
    .left-message-area
        .left-message-box
            .title-box 公共频道
            .content-box
                .content
        input.left-message-input(type="text")
        a.left-message-send-button(href="javascript:;") 发送
        .left-message-side-box
            .content-box
                .content
        a.left-message-up-button(href="javascript:;")
        a.left-message-down-button(href="javascript:;")
    .video-area
        .mirror
            .mirror-content
            .mirror-frame
        a.button-close-video(href="javascript:;")
        .adjust-box
            .adjust-item
                .adjust-prompt 音量
                .adjust-bar
                    a.adjust-button(href="javascript:;")
            .adjust-item
                .adjust-prompt 耳机
                .adjust-bar
                    a.adjust-button(href="javascript:;")
            .adjust-item
                .adjust-prompt 话筒
                .adjust-bar
                    a.adjust-button(href="javascript:;")
        .time-bar
            span 发言时间
            br
            br
            span 秒
            .time-number 90
    a.button-player-tools(href="javascript:;")
    .judge-area
        .right-message-box
            .title-box 游戏进程
            .content-box
                .content
        input.right-message-input(type="text")
        a.right-message-send-button(href="javascript:;") 发送
        a.right-message-channel-button(href="javascript:;") 裁判频道