.pg.pg-main.pg-profile .center-box ui-view {

  // statistics page
  .subpg-statistics {
    position: absolute;
    left: 15px;
    top: 20px;
    width: 900px;
    height: 720px;
    border: 5px rgba(27, 163, 230, 0.6) solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    .left-section {
      position: absolute;
      left: 35px;
      top: 5px;
      width: 205px;
      height: 575px;
      .row-name,
      .row-property {
        display: block;
        color: #342d2c;
        line-height: 69px;
        line-height: 69.125px;
        font-size: 24px;
        margin-left: 36px;
      }
      .row-name {
        font-size: 28px;
        font-weight: bold;
        margin-left: 32px;
      }
      .row-remaining-points {
        display: block;
        color: red;
        font-size: 22px;
        line-height: 28px;
      }
    }
    .right-box {
      position: absolute;
      left: 245px;
      top: 5px;
      width: 640px;
      height: 575px - 55px * 2;
      border: 5px rgba(27, 163, 230, 0.6) solid;
      border-radius: 20px;
      padding: 55px 0;
      background-image: url("../images/main/main-bg.png");
      background-size: $ui_width $ui_height;
      background-position: -1032px -160px;
      .row-property {
        height: 50px;
        white-space: nowrap;
        margin-left: 140px;
        & > * {
          display: inline-block;
          vertical-align: top;
          height: 50px;
          line-height: 50px;
          font-size: 26px;
          color: #1ba3e6;
          text-align: left;
          &.field-prompt {
            width: 74px;
          }
          &.field-value {
            width: 53px;
          }
          &.field-percent {
            width: 80px;
          }
          &.field-rank {
            width: 83px;
          }
        }
      }
    }
    .bottom-box {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 900px;
      height: 130px;
      .property-box {
        display: block;
        position: absolute;
        left: 37px;
        bottom: -1px;
        width: (182px + 0) * 4;
        height: (33px + 22px) * 2;
        .property-item {
          display: inline-block;
          position: relative;
          height: 33px;
          width: 182px;
          margin-bottom: 22px;
          .button-add {
            display: block;
            position: absolute;
            left: 105px;
            width: 44px;
            height: 33px;
            background: url("../images/profile/button-prop-add.png");
            cursor: pointer;
          }
          .property-text {
            display: block;
            position: absolute;
            left: 0;
            height: 33px;
            line-height: 33px;
            width: 100%;
            font-size: 20px;
            color: white;
          }
        }
      }
      .property-whole {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 76px;
        height: 90px;
        .button-property {
          display: inline-block;
          border-radius: 5px;
          width: 76px;
          height: 27px;
          margin-bottom: 28px;
          line-height: 27px;
          font-size: 20px;
          text-align: center;
          color: white;
          background-color: #2689b5;
          &:hover {
            background-color: #00a2e9;
          }
          cursor: pointer;
        }
      }
    }
  }
}