html, body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  width: 100%;
  height: 100%;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.container {
  font-size: 0rem;
  //display: none;
  //background-color: white;
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: auto;
}

.pg {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
