
@import "variables";

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-size: 12px;
  width: 100%;
  height: 100%;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.container {
  font-size: 0;
  //display: none;
  //background-color: white;
  position: relative;
  width: $ui_width;
  height: $ui_height;
  margin: auto;
}

.pg {
  position: relative;
  width: $ui_width;
  height: $ui_height;
  background-size: $ui_width $ui_height;
}
